.register-student-page {
  background: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registerbg-image {
  background-image: url('../images/RegisterBc.jpg');
  /* Update with your background image path */
  background-size: cover;
  background-position: center;
}

.register-student-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.register-student-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.preview-image {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .register-student-container {
    padding: 15px;
  }
}
