.table-responsive {
  overflow-x: auto;
}

.pagination {
  justify-content: center;
  margin-top: 2rem;
}

.pagination .page-item {
  margin: 0 0.25rem;
}

.pagination .page-link {
  border: 1px solid #dee2e6;
  color: #007bff;
}

.pagination .page-link:hover {
  background-color: #e9ecef;
}

.pagination .active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

@media (max-width: 768px) {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
  }

  .input-box {
    height: 38px;
  }

  .search-btn {
    height: 38px;
  }

  .input-box, .search-btn {
    margin-top: 0;
  }

  .sub-container {
    padding-top: 0;
  }

  .search-btn {
    width: 30%;
  }

  .input-box {
    width: 70%;
  }
}

.sticky-search {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding-top: 10px;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding-top: 10px;
}

.sub-container {
  margin-bottom: 2rem; /* Add margin bottom to create space */
}

.input-box {
  margin-right: 10px; /* Add gap between input box and button on large screens */
}

.search-btn {
  min-height: 38px; /* Match height of button with input */
}
