.update-password-container {
  margin-top: 50px;
}

.update-password-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  text-align: center;
  max-width: 500px; /* Ensure card does not stretch too wide */
  margin: 0 auto; /* Center the card horizontally */
}

.update-password-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.update-password-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.update-password-card .form-label {
  font-weight: 600;
}

.update-password-card .form-control {
  padding: 10px;
  font-size: 16px;
}

.update-password-card .btn {
  padding: 12px;
  font-size: 16px;
  background-color: #28a745;
  border-color: #28a745;
}

.update-password-card .btn:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .update-password-card {
      padding: 15px;
      max-width: 90%; 
  }

  .update-password-card h2 {
      font-size: 20px;
  }

  .update-password-card .form-control {
      font-size: 14px;
  }

  .update-password-card .btn {
      font-size: 14px;
      padding: 10px;
  }

  .update-password-container {
      margin-top: 30px; 
  }
}
