body {
    background-color: #f8f9fa;
  }
  
  h2, h5 {
    color: #343a40;
  }
  
  .card {
    border: none;
    background-color: #f3f3f3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    background-color: #bef3bc; 
  }

  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    background-color: #bef3bc; 
  }
  
  .chipButton{
    border-radius: 20px;
  }
  
  button {
    border-radius: 50px;
  }

  .side-panel {
    width: 200px;
    background-color: #f8f9fa;
    padding-top: 20px;
  }
  
  .nav-link {
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .nav-link i {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .nav-link.active {
    background-color: #e6f2ff;
    border-radius: 10px;
    color: #0d6efd;
  }

  .displayFlex{
    display: flex;
  }
  
  .nav-link:hover {
    background-color: #e6f2ff;
    border-radius: 10px;
    color: #0d6efd;
  }

  .login-card {
    width: 450px;
  }
  .form-control:focus {
    border-color: #28a745;
    box-shadow: none;
  }
  .forgot-password,
  .signup-link {
    font-size: 14px;
    color: #007bff;
  }
  .forgot-password:hover,
  .signup-link:hover {
    text-decoration: underline;
  }
.form-control1{
  display: block;
  margin-left: 3rem;
    width: 70%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
  
.logo {
  width: 150px; 
  height: auto; 
    border: 1px solid green; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3); 
  object-fit: contain;
 }

 
  
  

  
  