
body {
    background-color: #f8f9fa;
  }
  
  h2, h5 {
    color: #343a40;
  }
  
  .card {
    border: none;
    background-color: #f3f3f3;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    background-color: #bef3bc; 
  }

  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    background-color: #bef3bc; 
  }
  
  .chipButton{
    border-radius: 20px;
  }
  
  button {
    border-radius: 50px;
  }
