  /* Content Area Customization */
  .custom-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-size: 1rem;
    color: #495057;
  }
  .signature-canvas {
    background-color: #f9f9f9;
    cursor: crosshair;
  }
  
  .signature-area {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
  }
  