/* =================== Table & Search Bar Styling =================== */

/* Ensure table container is scrollable in all directions */
.table-container {
  max-height: 300px;
  overflow: auto;
  width: 99%;
  max-width: 100%;
  margin-right: 10%;
}

/* Responsive table adjustments */
@media (max-width: 500px) {
  .table-container {
    max-height: 500px;
    overflow: auto;
    width: 100%;
    max-width: 200%;
    margin-right: 1%;
  }
}

/* Search Section */
.search-container {
  display: flex;
  justify-content: center;
  width: 99%;
  padding: 0 10px 10px;
  padding-left: 78%;
}

.searchBar {
  /* width: 99%; */
  max-width: 200px;
}

.searchInput {
  width: 100%;
  padding: 18px;
}

/* Adjust search bar for smaller screens */
@media (max-width: 500px) {
  .searchBar {
    width: 2230% !important;
    margin-left: -69px !important;
  }
}
