@media (max-width: 576px) {
    .table-custom th, .table-custom td {
      font-size: 12px;
      padding: 5px;
    }
  }
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
      display: block;
    }
  }
    