.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content{
    padding: 50px 0 0 0;
    margin-top: 10%;
    /* width: 10px; */
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 15px;
    background: none;
    border: none;
    /* font-size: 500rem; */
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
  }
  
  .close-btn:hover {
    color: red; /* Change color on hover */
  }
  
  .modal-header{
    margin-top: -8%;
  }
.custom-modal {
    animation: fadeIn 0.3s ease-in-out;
}

/* Responsive Modal */
@media screen and (max-width: 768px) {
    .modal-dialog {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .modal-dialog {
        max-width: 95%;
    }
    
    .close-button {
        font-size: 20px;
        position: absolute;
        top: 110px;
        right: -160px;
        background: none;
        border: none;
        /* font-size: 500rem; */
        font-weight: bold;
        cursor: pointer;
        color: #000;
        transition: color 0.3s ease;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 360px) {
    .modal-overlay {
      max-width: 100%; /* Reduce width of overlay */
      left: 5%; /* Center it properly */
    }
  
    .modal-content {
      width: 95%; /* Reduce modal width */
      padding: 100px 0 0 0;
      max-width: 100%;
    }
  
    .close-btn {
      right: -134px; /* Move close button outside modal on small screens */
      position: absolute;
        top: 90px;
        right: 0px;
        background: none;
        border: none;
        /* font-size: 500rem; */
        font-weight: bold;
        cursor: pointer;
        color: #000;
        transition: color 0.3s ease;
    }
  }

  @media (max-width: 575.98px) {
    .modal-body {
        padding: 34px !important;
    }
    .close-btn {
        position: absolute;
        top: 70px;
        right: 0px;
        background: none;
        border: none;
        /* font-size: 500rem; */
        font-weight: bold;
        cursor: pointer;
        color: #000;
        transition: color 0.3s ease;
      }
}

